<!DOCTYPE html>
<html>

<head>
	<title>SVG TO PNG Converter</title>
</head>

<body>
	<h1>Upload your SVG file</h1>

	<form action="/fileupload"
	enctype="multipart/form-data" method="POST">
	
		<span>Upload your SVG file</span>
		<input type="file" name="svg_file" required/> <br>
		<input type="submit" value="submit">
	</form>
</body>

</html>
